* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "K2D", sans-serif;
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(232, 232, 232);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
.balik{
  position: relative;
  left: 60px;
}
.ulo{
  font-size: 35px;
    font-weight: 200;
    padding-top: 0px;
    padding-left: 0px;
}
hr{
    display: none;
}
#Padilla-hall{
    padding: 2% 7%;
}
nav{
    height: 60px;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  nav a{
    height: 100%;
    position: relative;
    padding: 0 10px;
    left: 150px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 60px;
    text-decoration: none;
    color: var(--text-color);
  }
  a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
a:hover::after{
    transform: scaleX(1);
  transform-origin: bottom left;
}

 
  nav .home-link{
    margin-right: auto;
  }
  nav svg{
    fill: var(--text-color);
  }
  #sidebar-active{
    display: none;
  }
  .open-sidebar-button, .close-sidebar-button{
    display: none;
  }


.buildings{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 70px;
}
.building{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.building img{
  border: 2px solid wheat;
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background:rgba(255,255,255,.10);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    color: #080808;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h1{
    font-weight: 200;
    margin-bottom: 20px;
    color: white;
}
.layer a{
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    text-align: center;
}
.building:hover{
    transform: scale(1.1);
}

.building:hover .layer{
    height: 100%;
}
.line{
    display: inline-block;
    position: relative;
}
.line span{
    color: yellow;
    font-size: 20px;
}
.line::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.line:hover::after{
    transform: scaleX(1);
  transform-origin: bottom left;
}
  .card {
    
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   }
   
   .shadow {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.5),
                0 0  0 2px rgb(190, 190, 190),
                0.3em 0.3em 1em rgba(0,0,0,0.9);
   }
   .title{
    display: none;
   }
@media only screen and (max-width:1152px){
    body{
        overflow: unset;
    }
    hr{
        display: block;
        position: relative;
        top: 20px;
        height: 3px;
        background-color: #080808;
    }
    .buildings{
        margin-top: 50px;
    }
    .links-container{
        flex-direction: column;
        align-items: flex-start;
    
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
    
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(15px);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
      }
      nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        color: white;
        position: relative;
        left: 0;
        padding: 10px 30px;
        justify-content: flex-start;
      }
      .open-sidebar-button, .close-sidebar-button{
        padding: 20px;
        display: block;
    
      }
      #sidebar-active:checked ~ .links-container{
        right: 0;
      }
      #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
      }
      .ulo{
        display: none;
      }
      .title{
        display: block;
        margin-right: 15px;
        font-weight: 200;
      }
      .active{
        display: block;
        position: relative;
        top: 0;
        border: 1px solid black;
        background-color: #080808;
      }
}
@media (max-width: 1860px){
    #Padilla-hall{
      padding: 1% 3%;
    }
}
@media (max-width: 1590px){
#Padilla-hall{
  padding: 1% 2%;
}
nav a{
  margin-left: 40px;
}
}
@media (max-width:1410px){
  nav a{
    margin-left: 20px;
  }
  .buildings{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media (max-width:1265px){
  nav a{
    margin-left: 5px;
    left: 90px;
  }
}